.noto-sans-devanagari-thin {
    font-family: "Noto Sans Devanagari", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.noto-sans-devanagari-light {
    font-family: "Noto Sans Devanagari", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.noto-sans-devanagari-regular {
    font-family: "Noto Sans Devanagari", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.noto-sans-devanagari-medium {
    font-family: "Noto Sans Devanagari", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.noto-sans-devanagari-semibold {
    font-family: "Noto Sans Devanagari", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.noto-sans-devanagari-extrabold {
    font-family: "Noto Sans Devanagari", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

#products-inner{
    background-image: url('../images/bg-products.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#products-inner::after{
    content: "";
    background-image: url('../images/firula-bg-products.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
@media screen and (max-width: 871px) {
    .cart-content {
        flex-direction: column-reverse !important;
    }
    .cart-component-content,
    .order-summary-content{
        width: 100%;
        max-width: inherit;
    }
}
@media (max-width: 475px) {
    .Vue-Toastification__toast-body{
        font-size: 12px !important;
        line-height: 18px !important;
    }
}